<html>
  <head>
    <meta charset="UTF-8">
    <title> Form 1</title>
    <link rel="stylesheet" href="../static/assets/form.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>

     <!------Navbar------>
     <nav class="navbar">
        <div class="brand-title">FINOVO</div>
        <div class="navbar-links">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">My Investments</a></li>
            <li><button type="button" class="logout" value="LogOut"><b>LogOut</b></button></li>
          </ul>
        </div>
      </nav>



  <div class="con">
    <div class="content">
    <div class="heading">
     <h1>Invest Now!!</h1>
     </div>
     <div class="imagw">
        <img src="../static/assets/partnership.png" class="image" alt="">
     </div>
     </div>
  <div class="container">
    <div class="title">Form 1</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">R & D Spend</span>
            <input type="text" id="rdspend" name="rdspend" placeholder="R & D" required>
          </div>
          <div class="input-box">
            <span class="details">Adminstration Spend</span>
            <input type="text" id="adminspend" name="adminspend" placeholder="Adminstration" required>
          </div>
          <div class="input-box">
            <span class="details">Marketing Spend</span>
            <input type="text" placeholder="Marketing" required>
          </div>
          <div class="input-box">
            <span class="details">State</span>
            <input type="text" placeholder="State, City" required>
          </div>
         
        </div>
        <div class="button">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>

  </div>
</body>
</html>