<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .ty h1{
            text-align: center;
            font-weight: bolder;
            font-size: 70px;
        }
        .ty h2{
            margin: 70px 320px;
            font-size: 30px;
        }
        .btn input{
            height: 60px;
            width: 180px;
            background-color: rgb(255, 149, 0);
            border: 1px solid orange;
            border-radius: 20px;
            font-weight: bolder;
            font-size: 25px;
        }
    </style>
</head>
<body>
    <div class="ty">
        <h1>THANK YOU!!</h1>
        <h2>For Showing Interest in Our Website We'll get back to you soon for Verification Process....</h2>
    </div><a href="/">
    <center><div class="btn">
        <input type="button" value="HOME">
    </div></center></a>
</body>
</html>